﻿@model STCData.TrainingProductViewModel

@{
    ViewBag.Title = "Pauls Training Company";
}


@using (Html.BeginForm())
{
    <!--BEGIN HIDDEN FIELDS AREA-->
    @Html.HiddenFor(m=>m.EventCommand)
    <!--END HIDDEN FIELDS AREA-->

    <!--BEGIN SEARCH AREA-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Search For Products</h1>
        </div>
        <div class="panel-body"></div>
        <div class="form-group">
            @Html.LabelFor(m=>m.SearchEntity.ProductName,"Product Name")
            @Html.TextBoxFor(m => m.SearchEntity.ProductName,
           new {@class = "form-control" })
        </div>
        <div class="panel-footer">
            <button id="btnSearch" class="btn btn-sm btn-primary"
                    data-pdsa-action="search">
                <i class="glyphicon glyphicon-search"></i>
                &nbsp;Search
            </button>
            <button id="btnReset" class="btn btn-sm btn-primary"
                    data-pdsa-action="resetsearch">
                <i class="glyphicon glyphicon-share-alt"></i>
                &nbsp;Reset
            </button>
        </div>
    </div>
    <!--END SEARCH FIELDS AREA-->

     <!--BEGIN LIST AREA-->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Introduction Date</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.IntroductionDate</td>
                        <td>@item.Url</td>
                        <td>@item.Price.ToString("c")</td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
    <!--END LIST FIELDS AREA-->
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault();

                $("#EventCommand").val($(this).data("pdsa-action"));

                $("form").submit();
            });
        });
    </script>
}

